.grid-container-2 {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 0px 0px;
    margin: 0px;
    padding: 3px;
    height: fit-content;
    width: fit-content;
    grid-auto-flow: column;
}
ol {
    list-style-position: inside;
    line-height: 2.5;
    padding: 0px;
}
ol.custom {
    list-style-type: none;
    margin-left: 0;
}
ol.custom > li {
  counter-increment: customlistcounter;
}
 
ol.custom > li:before {
  content: "#" counter(customlistcounter);
  font-weight: bold;
  float: left;
  width: 1.5em;
  font-size: 40px;
}
 
ol.custom:first-child {
  counter-reset: customlistcounter;
}
li {
    display: block;
    margin-left: 8%;
}
