.grid-container-51 {
    display: grid;
    grid-template-columns: 250px repeat(5, 1fr);
    /* grid-template-rows: 250px repeat(1, 1fr); */
    grid-gap: 0px 0px;
    margin: 0px;
    padding: 3px;
    height: fit-content;
}
.grid-item {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 2px solid #333333;
} 

.golyo {
    width: 100px;
    height: 100px;
    display: inline-block; 
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}

.golyo-red {
    background: url("images/golyo_red.png");
    background-size: 100%;
}

.golyo-purple {
    background: url("images/golyo_purple.png");
    background-size: 100%;
}

.golyo-orange {
    background: url("images/golyo_orange.png");
    background-size: 100%;
}

.golyo-green {
    background: url("images/golyo_green.png");
    background-size: 100%;
}

.golyo-blue {
    background: url("images/golyo_blue.png");
    background-size: 100%;
}

